.content-wrapper {
    padding: 0em 5em 10em 5em;
}

.info-adicional {
  padding-bottom: 8em;
}

.masthead {
  width: 100%;
}

.page-section {
  padding-top: 8em;
  padding-bottom: 0;
}

.paginacion {
  padding: 5em 0 0 0;
}

.error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  margin-top: 3em;
  font-size: 2em;
  font-weight: bold;
  opacity: 0;
  transform: scale(0.8);
  animation: appear-and-resize both 500ms ease-in-out;
}

.error :first-child{
  font-size: 2em;
}

.grid{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
  gap: 7.5em;
  row-gap: 4em;
  margin-top: 1em;
}

.gridItem { 
  position: relative;
  justify-self: center;
  align-self: center;
  opacity: 0;
  transform: scale(0.96);
  animation: appear-and-resize both 400ms ease-in-out;
}

.gridItem .portfolio-item {
  border-radius: 3px;
  background-color: #fff;
}

.gridItem .portfolio-link{
  display: flex!important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 130px;
  max-width: 80vw;
  width: 350px;
  height: 400px;
  background-color: transparent !important;
}

.gridItem .losa {
  height: auto;
}
  
.gridItem .portfolio-hover {
  border-radius: 3px;
}

.gridItem .portfolio-link img{
  border-radius: 3px;
  width: 350px;
  height: 275px;
  object-fit: contain;
}

.gridItem .portfolio-caption {
  background-color: transparent !important;
}

.gridItem .portfolio-caption-heading {
  font-size: 1.3rem !important;
}

.searchParent{
  width:30%;
}

.nav-link{
  margin-right: 2em;
}

.portfolio-modal {
  margin: 1em;
  margin-bottom: 100px;
}

.modal-content {
  padding-bottom: 2em;
  margin-bottom: 3em;
}

@media (min-width: 1400px){
.container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
  max-width: 1900px;
}
}

@media (max-width: 991px) {
  .content-wrapper {
    padding-top: 3em;
  }
  .searchParent {
    width: 100%;
  }
  .carousel-item img{
    width:100%;
    height: auto;
  }
  .portfolio-modal .modal-content h2, .portfolio-modal .modal-content .h2{
    font-size: 1.5rem;
  }
  .info-adicional {
    padding-bottom: 5em;
  }
}

@media (max-width:600px) {
  .info-adicional {
    padding-bottom: 6em;
  }
}

@media (max-width: 500px) {

  .content-wrapper {
    padding: 3em 0 18em 0;
  }

  .info-adicional {
    padding-bottom: 8em;
  }

  .paginacion {
    padding: 4em 0 1em 0;
  }

  .error{
    margin-top: 2em;
    font-size: 1.3em;
  }

  .error :first-child {
    font-size: 2.5em;
  }

}

@keyframes appear-and-resize {
  to {
    opacity: 1;
    transform: scale(1);
  }
}